html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* HEADER SECTION */

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 10%;
}

.header ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-right: 10%;
}

/* HEADER SECTION */

/* HERO SECTION */

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 400px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
    margin-bottom: 8px;
}

.hero-left button {
    background-color: #3882F6;
    color: #e5e7eb;
}

.hero-right {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.hero-image {
    height: 300px;
    width: 600px;
}

/* HERO SECTION */

/* INFORMATION SECTION */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.information h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.information ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.information li {
    display: flex;
    flex-direction: column;
}

.information p {
    text-wrap: wrap;
    width: 150px;
    text-align: center;
    color: #1f2937;
    font-weight: 300;
}

.information img {
    height: 150px;
    width: 150px;
    border: #3882F6 4px solid;
    border-radius: 10px;
}

/* INFORMATION SECTION */

/* TESTIMONIAL SECTION */

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #e5e7eb;
}

.testimonial h1 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    width: 800px;
}

.testimonial p {
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    text-align: right;
}

/* TESTIMONIAL SECTION */